.pirho-combo-box-field
{
}

.pirho-combo-box-field__input
{
	flex-direction: row;
	flex-grow: 1;
}

.pirho-combo-box-field__input__text
{
	flex-grow: 1;
	margin: 0 0 1px 0;
}

.pirho-combo-box-field__input__text .unity-base-text-field__input
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pirho-combo-box-field__input__button
{
	min-width: 20px;
	max-width: 20px;
	min-height: 19px;
	max-height: 19px;
	align-self: center;
	margin: 0 0 1px 0;
	border-left-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pirho-combo-box-field__input__button:hover
{
	background-color: var(--unity-colors-button-background-hover);
}

.pirho-combo-box-field__input__button:active
{
	background-color: var(--unity-colors-button-background-pressed);
}