.pirho-icon-button
{
}

.pirho-icon-button:hover
{
    background-color: var(--unity-colors-button-background-hover);
}

.pirho-icon-button:active
{
    background-color: var(--unity-colors-button-background-pressed);
}